<!-- songs.ejs -->
<!DOCTYPE html>
<html lang="it" class="h-100" >
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>SpotifyStats</title>
  </head>
  <body class="h-100 m-0" style="background-color:#191414;">
    <div class="container-fluid">
      <div class="row">
        <div class="col sticky-top vh-100 d-flex align-items-center" style="background-color:#191414; border-style: solid; border-width: 0 5px 0 0; border-color: #1DB954;">
          <nav class= "w-100">
            <div class = "fw-bold text-center" style="color:#ffffff;">
              <p style="font-size: 42px;" >SpotifyStats<img src="/images/logo.png" width="75" height="75" ></p>
              <p style="font-size: 24px;">I'm looking for a...</p>
            </div>
            <div>
              <form action="/query" method="POST" style="font-size: 18px; color:#ffffff;">
                <div class="ms-5 form-check">
                  <input class="form-check-input" id ="radioPop" type="radio" name="genre" value="pop" required>
                  <label class="form-check-label" for="radioPop">Pop</label><br>
                  <input class="form-check-input" id ="radioRock" type="radio" name="genre" value="rock">
                  <label class="form-check-label" for="radioRock">Rock</label><br>
                  <input class="form-check-input" id ="RadioRap"type="radio" name="genre" value="rap">
                  <label class="form-check-label" for="RadioRap">Rap</label><br>
                  <input class="form-check-input" id ="RadioIndie" type="radio" name="genre" value="indie">
                  <label class="form-check-label" for="RadioIndie">Indie</label><br>
                  <input class="form-check-input" id ="RadioTrap" type="radio" name="genre" value="trap">
                  <label class="form-check-label" for="RadioTrap">Trap</label><br>
                  <input class="form-check-input" id ="RadioReggaeton" type="radio" name="genre" value="reggaeton">
                  <label class="form-check-label" for="RadioReggaeton">Reggaeton</label><br>
                  <input class="form-check-input" id ="RadioAny" type="radio" name="genre" value="any">
                  <label class="form-check-label" for="RadioAny">Any genre</label><br>
                </div>
                <br>
                <p class = "fw-bold text-center" style="font-size: 24px; color: #ffffff;">song with...</p>
                <div class="ms-5 form-check">
                  <input class="form-check-input" id="radioPosition" type="radio" name="field" value="Highest Charting Position" required>
                  <label class="form-check-label" for="radioPosition">Highest Position</label><br>
                  <input class="form-check-input" id="radioPopularity" type="radio" name="field" value="Popularity">
                  <label class="form-check-label" for="radioPopularity">Popularity</label><br>
                  <input class="form-check-input" id="radioStreams" type="radio" name="field" value="Streams">
                  <label class="form-check-label" for="radioStreams">Number of Streams</label>
                </div>
                <br><br>
                <div class="ms-5 form-check">
                  <input class="form-check-input" id="radioLess" type="radio" name="query_type" value="less" required>
                  <label class="form-check-label" for="radioLess" >Less than</label><br>
                  <input class="form-check-input" id="radioMore" type="radio" name="query_type" value="more">
                  <label class="form-check-label" for="radioMore">More than</label><br>
                  <input class="form-check-input" id="radioEqual" type="radio" name="query_type" value="equal">
                  <label class="form-check-label" for="radioEqual">Equal to</label>
                </div>
                <div class= "text-center">
                  <input type="text" class="form-control-sm" name="value">
                  <input class="rounded p-2 mx-2" type="submit" value="Query" style="background-color: #1DB954 ; color: #191414;">
                </div>
              </form>
            </div>
            <div class="text-center" style="margin-top: 30%;">
              <a class="fw-bold text-decoration-none" href="/topFollowers" style="font-size: 18px; color:#ffffff;">Most Followed artists</a><br>
              <a class="fw-bold text-decoration-none" href="/topStreams" style="font-size: 18px; color:#ffffff;">Most Streamed songs</a><br>
            </div>
          </nav>
        </div>
        <div class="col-10 p-0">
          <nav class="navbar navbar-expand-lg p-0" style="z-index:1; background-color:#191414;">
            <div class="collapse navbar-collapse justify-content-md-center py-2" style="font-size: 18px;">
              <ul class="navbar-nav align-middle fw-bold">
                <li class="nav-item">
                  <a class="nav-link" style="color:#ffffff;" href="/" >Home</a>
                </li>
                <li class="nav-item mx-3">
                  <form method="POST" action="/search" class="form-inline">
                    <input name="name" class="form-control text-center" type="search" placeholder="Search by name..." aria-label="Search" style="color:#191414 ;">
                  </form>
                </li>
              </ul>
            </div>
          </nav>
          <table id = "sortTable" class="table table-hover table-striped text-center" style="background-color:#ffffff;">
            <thead class="sticky-top fw-bold" style="z-index:0; background-color:#1DB954; color: #ffffff; font-size: 18px;">
              <tr>
                <th onclick="sortTable(0)" scope="col">Song</th>
                <th onclick="sortTable(1)" scope="col">Artist</th>
                <th onclick="sortTable(2)" scope="col">Highest Charting Position</th>
                <th onclick="sortTable(3)"scope="col">Week of Highest Charting</th>
                <th onclick="sortTable(4)"scope="col">Popularity</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < songs.length; i++) {%>
              <tr id = "songs" style="color: #000000;">
                <td class = "align-middle fw-bold" style="width: 20%; font-size: 18px;">
                  <form id="songname" action="/song" method="get">
                  <input type="hidden" name="song" value= <%= songs[i]['Song Name'].replace(/\s/g,''); %> />
                  <a href="javascript:;" onclick="document.getElementById('songname').submit();"><%= songs[i]['Song Name']; %></a>
                </form>
                </td>
                <td class = "align-middle fw-bold" style="width: 20%; font-size: 18px;"><%= songs[i]['Artist']; %></td>
                <td class = "align-middle fw-bold" style="width: 20%; font-size: 18px;"><%= songs[i]['Highest Charting Position']; %></td>
                <td class = "align-middle fw-bold" style="width: 20%; font-size: 18px;"><%= songs[i]['Week of Highest Charting']; %></td>
                <td class = "align-middle fw-bold" style="width: 20%; font-size: 18px;"><%= songs[i]['Popularity']; %></td>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("sortTable");
        switching = true;
        dir = "asc";
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];

            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount ++;
          } else {
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>